.article-list {
    margin: 20px;

    &__buttons {
        padding: 15px 0 35px 15px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;
    }

    &__image-container {
        position: relative;
    }

    &__image {
        max-width: 100%;
        width: 100%;
        vertical-align: bottom;
    }

    &__image-label {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.75);
        color: white;
        padding: 5px;
    }

    &__card {
        max-width: 400px;
        margin-bottom: 8px;
    }
}
