<ng-container *ngIf="!isLoading; else loadingSpinner">
    <app-show-page
        [isForm]="true"
        title="Create article"
        [onSubmitForm]="submitForm">
        <ng-container title>
            <h1>Create article</h1>
        </ng-container>
        <ng-container content>
            <app-text-input-field
                label="Title"
                [control]="articleForm.controls.title">
            </app-text-input-field>

            <app-select-field
                label="Editor"
                [control]="articleForm.controls.editor"
                [compareObjects]="compareEditors"
                [data$]="editors$"
                [dataFormToShow]="editorFormToShow">
            </app-select-field>

            <app-text-area-field
                label="Article content"
                [control]="articleForm.controls.content"
                [rowsNumber]="articleContentTextAreaRowsNumber">
            </app-text-area-field>

            <app-text-input-field
                label="Photo URL"
                [control]="articleForm.controls.photoUrl">
            </app-text-input-field>

            <app-select-field
                label="Category"
                [control]="articleForm.controls.category"
                [compareObjects]="compareCategories"
                [data$]="categories$"
                [dataFormToShow]="categoryFormToShow">
            </app-select-field>
        </ng-container>
        <ng-container actions>
            <button
                mat-stroked-button
                type="submit"
                [disabled]="articleForm.invalid">
                Create
            </button>
            <button mat-stroked-button type="button" (click)="goBack()">
                Go back
            </button>
        </ng-container>
    </app-show-page>
</ng-container>
<ng-template #loadingSpinner> </ng-template>
