@import "../../styles/variables";

.create-article-form {
    margin: $article-padding;
    display: flex;
    justify-content: center;

    &__card {
        display: flex;
        justify-content: center;
        width: 50%;
        padding: 1rem;
    }

    &__header {
        padding: 1rem;
    }

    &__actions {
        display: flex;
        align-items: center;
        padding: 0 1rem;
    }
}
