<div class="create-article-form">
    <mat-card class="create-article-form__card">
        <mat-card-header class="create-article-form__header">
            <mat-card-title>
                <h1>Create article</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form
                [formGroup]="articleForm"
                (ngSubmit)="submitForm()">
                <app-text-input-field
                    label="Title"
                    [control]="articleForm.controls.title">
                </app-text-input-field>

                <app-select-field
                    label="Editor"
                    [control]="articleForm.controls.editor"
                    [data$]="editors$"
                    [dataFormToShow]="editorFormToShow">
                </app-select-field>

                <app-date-picker-field
                    label="Publication date"
                    [control]="articleForm.controls.publicationDate">
                </app-date-picker-field>

                <app-text-area-field
                    label="Article content"
                    [control]="articleForm.controls.content">
                </app-text-area-field>

                <app-text-input-field
                    label="Photo URL"
                    [control]="articleForm.controls.photoUrl">
                </app-text-input-field>

                <app-select-field
                    label="Category"
                    [control]="articleForm.controls.category"
                    [data$]="categories$"
                    [dataFormToShow]="categoryFormToShow">
                </app-select-field>
            </form>
        </mat-card-content>
        <mat-card-actions class="create-article-form__actions">
            <button mat-stroked-button>Create</button>
        </mat-card-actions>
    </mat-card>
</div>
