<ng-container *ngIf="article$ | async as article; else loadingSpinner">
    <app-show-page
        [isForm]="false"
        [title]="article.title"
        [thumbnailImageUrl]="article.image"
        [descriptionForImageThumbnail]="article.editor.name + ' ' + article.editor.surname"

        [subtitles]="['Created: ' + article.createdDate + '', 'Last modified: ' + article.lastModifiedDate]">
        <ng-container title>
            <h1>{{ article.title }}</h1>
        </ng-container>
        <ng-container content>
            <div>{{ article.content }}</div>
        </ng-container>
        <ng-container actions>
            <div>Comments</div>
        </ng-container>
    </app-show-page>
</ng-container>

<ng-template #loadingSpinner>
    <mat-spinner> </mat-spinner>
</ng-template>
