@import '../../styles/variables';

$sections-gap: 1.5rem;

.show-page {
    margin: $article-padding;
    display: flex;
    justify-content: center;

    &__card {
        padding: 0;
        width: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    &__card-inner-container {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: $sections-gap;
        justify-content: center;
    }

    &__main-image-container {
        width: 100%;
        height: 20rem;
        position: relative;
        overflow: hidden;
    }

    &__main-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__title {
        font-size: 1.75rem;
    }

    &__header {
        display: flex;
        flex-direction: column;
        gap: $sections-gap;
    }

    &__info-header {
        display: flex;
        flex-direction: column;
        gap: $sections-gap / 4;
    }

    &__picture-header {
        padding: 0;
        display: flex;
        align-items: center;
        height: auto;
    }

    &__thumbnail-image {
        margin: 0;
    }

    &__content {
        padding: 0;
    }

    &__actions {
        display: flex;
        align-items: center;
        padding: 0;
        gap: $sections-gap;
    }
}
