@import '../styles/colors';

$font-color: $light-silver;
$font-size: 1rem;
$navbar-height: 65px;

.sidenav-container {
    height: 100%;

    .sidenav {
        width: 200px;
        background-color: $dark-charcoal;
        @extend %navbar-border;

        .mat-toolbar {
            background: inherit;
            background-color: $dark-charcoal;
            @extend %navbar-border;

            .mat-primary {
                position: sticky;
                top: 0;
                z-index: 1;
            }
        }

        .navbar-text {
            padding: 0 24px;
        }

        .navbar-panel {
            padding: 0;
        }

        .navbar-text,
        ::ng-deep .navbar-text span span {
            color: $font-color !important;
            font-family: 'Bebas Neue', sans-serif;
            display: flex;
            justify-content: space-between;
            align-content: center;
        }
    }

    .mat-sidenav-content {
        .mat-toolbar {
            position: fixed;
            top: 0;
            width: 100%;
            height: $navbar-height;
            z-index: 1030;

            padding: 0;
            @extend %navbar-border;
        }
        .navbar-header {
            font-family: 'Kdam Thmor Pro', sans-serif;
            cursor: pointer;
        }

        .navbar-strip {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;
        }

        .navbar-image {
            height: 100%;
            width: auto;
            cursor: pointer;
        }
    }

    &__content {
        padding-top: $navbar-height;
    }
}

%navbar-border {
    border-bottom: 1px solid $deep-charcoal;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
