<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="navbar-text">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="navbar-text" href="#">Link 1</a>
      <a mat-list-item class="navbar-text" href="#">Link 2</a>
      <a mat-list-item class="navbar-text" href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <ng-container *ngIf="isHandset$ | async">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon"><span>menu</span></mat-icon>
        </button>
      </ng-container>
      <div class="navbar-strip">
        <img src="../../assets/icons/logo.svg" alt="logo" style="height:100%">
        <span class="navbar-header">football-frontend</span>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
