$font-color: #dcdcdc;
.mat-list-item {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.category-name {
  margin: 0;
  padding: 0;
  text-align: left;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-button {
  margin-left: auto;
  padding: 0;
}



.expansion-panel {
  color: $font-color;
  font-family: 'Bebas Neue', sans-serif;
  background-color: #4b4b4b;
  width: 199px;
  text-overflow: ellipsis;
}

.expansion-panel-header {
  color: $font-color;
  font-family: 'Bebas Neue', sans-serif;
  background-color: #4b4b4b;
}
