.nickname-column {
    width: 20%;
}

.content-column {
    width: 60%;
}

.red {
    color: red;
}

.green {
    color: green;
}

.grey {
    color: grey;
}

.small {
    scale: 80%;
}

.mat-row, .mat-header-row {
    height: 32px;
}

.mat-cell, .mat-header-cell {
    line-height: 32px;
}
